<% layout("/layouts/boilerplate") -%>
<% layout("/layouts/boilerplate") -%>

<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-white text-center">
    <h1 class="display-1 fw-bold" style="color: #f3424e;">Error!</h1>
    <p class="fs-4" style="color: #f3424e;"><%= statusCode %></p>
    <p class="fs-4" style="color: #f3424e;"><%= message %></p>
    <a href="/listings" class="btn btn-lg text-white" style="background-color: #f3424e;">Go Back Home</a>
</div>
