/* body{
    background-color: rgb(212, 140, 140);
} */
 /*navbar*/

.navbar{
    height: 5rem;
    background-color: white;
}
.fa-bed{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important ;
}
/* footer */
/* footer{
    height: 5rem;
} */
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    padding: 1rem;
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 5px;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.card{
    padding: 1rem;
    margin: 0 1rem 1rem 0;

}
.card:hover{
    background-color: #ebebeb;
}

.card-img-top{
    border-radius: 0.5rem !important;
    height: 12rem !important; 
}
.row:hover{
    cursor: pointer;
}
.form-control.no-spinner::-webkit-outer-spin-button,
.form-control.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}